* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 50px;
  text-transform: uppercase;
}

body {
  background-color: antiquewhite;
}

section {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  float: left;
  margin-left: 130px;
  width: 250px;
  height: 350px;
  box-shadow: 4px 6px 21px 5px rgba(0, 0, 0, 0.75);
  background-color:rgb(177, 216, 248);
  position: relative;
}

section img {
  width: 200px;
  max-height: 200px;
  margin-top: 60px;
  margin-left: -15px;
}

h2 {
  text-align: center;
  margin-left: 90px;
  margin-top: 15px;
}

.Hotel {
  grid-column: 1 / 3;
  border: 1px solid black;
}

.Hotel img.img-back {
  width: 200px;
  height: 200px;
  margin-top: 60px;
  margin-left: -15px;
  z-index: 1;
}



#button1, #button2, #button3{
    width: 100px;
    height: 30px;
    position: relative;
    margin-left: -20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 290px;
}


#button1:hover, #button2:hover, #button3:hover{
    background-color: bisque;
}


#button1:active, #button2:active, #button3:active{
    bottom: -3px;
}

.Cabin {
  grid-column: 2 / 3;
  border: 1px solid black;
}

.Motel {
  grid-column: 3 / 3;
  border: 1px solid black;
}
